---
import Layout from '../layouts/Layout.astro';
import MainNav from '../components/MainNav.astro';
import SecondaryNav from '../components/SecondaryNav.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Oxoy Studio">
	<div class="container">
		<!-- Main Navigation -->
		<MainNav />

		<!-- Secondary Navigation -->
		<SecondaryNav />

		<!-- Exhibition Content -->
		<div class="works">
			<!-- Scaling.day -->
			<div class="work">
				<div class="work-image-container">
					<img src="/images/scday_01.png" alt="Scaling.day" class="work-image" id="main-image-1" onError={(e) => e.currentTarget.src = "/images/placeholder.jpg"}>
					<div class="thumbnails">
						<img src="/images/scday_01.png" alt="Scaling.day thumbnail 1" class="thumbnail active" data-target="main-image-1" onError={(e) => e.currentTarget.src = "/images/placeholder.jpg"}>
						<img src="/images/scday_02.png" alt="Scaling.day thumbnail 1" class="thumbnail" data-target="main-image-1" onError={(e) => e.currentTarget.src = "/images/placeholder.jpg"}>
						<img src="/images/scday_03.png" alt="Scaling.day thumbnail 1" class="thumbnail" data-target="main-image-1" onError={(e) => e.currentTarget.src = "/images/placeholder.jpg"}>
					</div>
				</div>
				<div>
					<h2 class="work-title">Scaling.day</h2>
					<p class="work-type">Website</p>
					<p class="work-details">2024</p>
				</div>
			</div>

			<hr class="divider">

			<!-- Adriennes.site -->
			<div class="work">
				<div class="work-image-container">
					<img src="/images/adri_01.png" alt="Adriennes.site" class="work-image" id="main-image-2" onError={(e) => e.currentTarget.src = "/images/placeholder.jpg"}>
					<div class="thumbnails">
						<img src="/images/adri_01.png" alt="Adriennes.site thumbnail 1" class="thumbnail active" data-target="main-image-2" onError={(e) => e.currentTarget.src = "/images/placeholder.jpg"}>
					</div>
				</div>
				<div>
					<h2 class="work-title">Adriennes.site</h2>
					<p class="work-type">Website</p>
					<p class="work-details">2024</p>
				</div>
			</div>

			<hr class="divider">

			<!-- Emancipa(t/ss)ionsfrugten -->
			<div class="work">
				<div class="work-image-container">
					<img src="/images/eman_01.png" alt="Emancipationsfrugten" class="work-image" id="main-image-3">
					<div class="thumbnails">
						<img src="/images/eman_01.png" alt="Emancipationsfrugten thumbnail 1" class="thumbnail active" data-target="main-image-3">
						<img src="/images/eman_02.png" alt="Emancipationsfrugten thumbnail 2" class="thumbnail" data-target="main-image-3">
						<img src="/images/eman_03.png" alt="Emancipationsfrugten thumbnail 3" class="thumbnail" data-target="main-image-3">
						<img src="/images/eman_04.png" alt="Emancipationsfrugten thumbnail 4" class="thumbnail" data-target="main-image-3">
						<img src="/images/eman_05.png" alt="Emancipationsfrugten thumbnail 5" class="thumbnail" data-target="main-image-3">
					</div>
				</div>
				<div>
					<h2 class="work-title">Emancipa(t/ss)ionsfrugten</h2>
					<p class="work-type">Website</p>
					<p class="work-details">2023</p>
				</div>
			</div>

			<hr class="divider">

			<!-- Bombinabombast -->
			<div class="work">
				<div class="work-image-container">
					<img src="/images/bb_01.png" alt="Bombinabombast" class="work-image" id="main-image-4" onError={(e) => e.currentTarget.src = "/images/placeholder.jpg"}>
					<div class="thumbnails">
						<img src="/images/bb_01.png" alt="Bombinabombast thumbnail 1" class="thumbnail active" data-target="main-image-4" onError={(e) => e.currentTarget.src = "/images/placeholder.jpg"}>
						<img src="/images/bb_02.png" alt="Bombinabombast thumbnail 1" class="thumbnail active" data-target="main-image-4" onError={(e) => e.currentTarget.src = "/images/placeholder.jpg"}>
						<img src="/images/bb_03.png" alt="Bombinabombast thumbnail 1" class="thumbnail active" data-target="main-image-4" onError={(e) => e.currentTarget.src = "/images/placeholder.jpg"}>
						<img src="/images/bb_04.png" alt="Bombinabombast thumbnail 1" class="thumbnail active" data-target="main-image-4" onError={(e) => e.currentTarget.src = "/images/placeholder.jpg"}>
					</div>
				</div>
				<div>
					<h2 class="work-title">Bombinabombast.com</h2>
					<p class="work-type">Website</p>
					<p class="work-details">2025</p>
				</div>
			</div>

			<hr class="divider">

			<!-- Toraschultz -->
			<div class="work">
				<div class="work-image-container">
					<img src="/images/tora_02.jpeg" alt="Toraschultz" class="work-image" id="main-image-5">
					<div class="thumbnails">
						<img src="/images/tora_02.jpeg" alt="Toraschultz thumbnail 1" class="thumbnail active" data-target="main-image-5">
					</div>
				</div>
				<div>
					<h2 class="work-title">Toraschultz.com</h2>
					<p class="work-type">Website</p>
					<p class="work-details">2023</p>
				</div>
			</div>

			<hr class="divider">

			<!-- Virtual Rehearsal Space -->
			<div class="work">
				<div class="work-image-container">
					<img src="/images/vrs_01.png" alt="Virtual Rehearsal Space" class="work-image" id="main-image-6">
					<div class="thumbnails">
						<img src="/images/vrs_01.png" alt="Virtual Rehearsal Space thumbnail 1" class="thumbnail active" data-target="main-image-6">
						<img src="/images/vrs_02.png" alt="Virtual Rehearsal Space thumbnail 2" class="thumbnail" data-target="main-image-6">
						<img src="/images/vrs_03.png" alt="Virtual Rehearsal Space thumbnail 3" class="thumbnail" data-target="main-image-6">
						<img src="/images/vrs_04.png" alt="Virtual Rehearsal Space thumbnail 4" class="thumbnail" data-target="main-image-6">
						<img src="/images/vrs_05.png" alt="Virtual Rehearsal Space thumbnail 5" class="thumbnail" data-target="main-image-6">
					</div>
				</div>
				<div>
					<h2 class="work-title">Virtual Rehearsal Space</h2>
					<p class="work-type">Website</p>
					<p class="work-details">2023</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Lightbox container -->
	<div class="lightbox">
		<span class="lightbox-close">&times;</span>
		<img class="lightbox-content" src="" alt="">
	</div>
</Layout>
