---
import Layout from '../layouts/Layout.astro';
import MainNav from '../components/MainNav.astro';
import SecondaryNav from '../components/SecondaryNav.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Oxoy Studio">
	<div class="container">
		<!-- Main Navigation -->
		<MainNav />

		<!-- Secondary Navigation -->
		<SecondaryNav />

		<!-- Exhibition Content -->
		<div class="works">
			<!-- Exhibition 1 -->
			<div class="work">
				<div class="work-image-container">
					<img src="/images/vrs_01.png" alt="virtualrehearsal" class="work-image" id="main-image-1">
					<div class="thumbnails">
						<img src="/images/vrs_01.png" alt="virtualrehearsal thumbnail 1" class="thumbnail active" data-target="main-image-1">
						<img src="/images/vrs_02.png" alt="virtualrehearsal thumbnail 2" class="thumbnail" data-target="main-image-1">
						<img src="/images/vrs_03.png" alt="virtualrehearsal thumbnail 3" class="thumbnail" data-target="main-image-1">
						<img src="/images/vrs_04.png" alt="virtualrehearsal thumbnail 4" class="thumbnail" data-target="main-image-1">
						<img src="/images/vrs_05.png" alt="virtualrehearsal thumbnail 5" class="thumbnail" data-target="main-image-1">
					</div>
				</div>
				<div>
					<h2 class="work-title">Virtual Rehearsal Space</h2>
					<p class="work-type">Website</p>
					<p class="work-details">2023</p>
				</div>
			</div>

			<hr class="divider">

			<!-- Exhibition 2 -->
			<div class="work">
				<div class="work-image-container">
					<img src="/images/eman_01.png" alt="Emancipationsfrugten" class="work-image" id="main-image-2">
					<div class="thumbnails">
						<img src="/images/eman_01.png" alt="Emancipationsfrugten thumbnail 1" class="thumbnail active" data-target="main-image-2">
						<img src="/images/eman_02.png" alt="Emancipationsfrugten thumbnail 2" class="thumbnail" data-target="main-image-2">
						<img src="/images/eman_03.png" alt="Emancipationsfrugten thumbnail 3" class="thumbnail" data-target="main-image-2">
						<img src="/images/eman_04.png" alt="Emancipationsfrugten thumbnail 4" class="thumbnail" data-target="main-image-2">
						<img src="/images/eman_05.png" alt="Emancipationsfrugten thumbnail 5" class="thumbnail" data-target="main-image-2">
					</div>
				</div>
				<div>
					<h2 class="work-title">Emancipa(t/ss)ionsfrugten</h2>
					<p class="work-type">Website</p>
					<p class="work-details"></p>
					<p class="work-curator">2022</p>
				</div>
			</div>

			<hr class="divider">

			<!-- Exhibition 3 -->
			<div class="work">
				<div class="work-image-container">
					<img src="/images/tora_02.jpeg" alt="data-verse exhibition" class="work-image" id="main-image-3">
					<div class="thumbnails">
						<img src="/images/tora_02.jpeg" alt="data-verse thumbnail 2" class="thumbnail active" data-target="main-image-3">
					</div>
				</div>
				<div>
					<h2 class="work-title">Toraschultz.com</h2>
					<p class="work-type">website</p>
					<p class="work-details">2023</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Lightbox container -->
	<div class="lightbox">
		<span class="lightbox-close">&times;</span>
		<img class="lightbox-content" src="" alt="">
	</div>
</Layout>
