---
// SecondaryNav.astro - Secondary navigation component
---

<div class="secondary-nav-container">
  <nav class="secondary-nav">
    <a href="/emmancipattsionsfrugten">
      <span>Emancipa(t/ss)ionsfrugten.org</span>
      <span class="year"></span>
    </a>
    <a href="/virtual-rehearsal">
      <span>virtualrehearsal.space</span>
      <span class="year"></span>
    </a>
    <a href="/toraschultz">
      <span>Toraschultz.com</span>
      <span class="year"></span>
    </a>
    <a href="/adriennes">
      <span>Adriennes.site</span>
      <span class="year"></span>
    </a>
    <a href="/scaling">
      <span>Scaling.day</span>
      <span class="year"></span>
    </a>
    <a href="/bombinabombast">
      <span>Bombinabombast.com</span>
      <span class="year"></span>
    </a>
    <a href="/black-archives">
      <span>Black Archives Sweden</span>
      <span class="year"></span>
    </a>
  </nav>
</div> 
